// $accent: #5A30F0;
// $accent-hover: #5225ef;
$accent: #202020;
$accent-hover: #ffd700;
$yellow: #ffd700;
// $yellow: #E0DA09;
$gray: #E4EAF3;
$gray-text: #636c81;

$dark: #161618;
$black-bg: #060F23;
$grays: rgb(247 247 247);
$milk: rgba($black-bg, 0.3);


$text: $dark;
$text-light: rgba(0, 0, 0, .3);