@use '@scss/color';

/****************************************************/
/* VARIABLES ****************************************/

$bg: rgb(230 230 230 / 91%);

$cr: 24px;
$container-radius: $cr $cr 0 0;
$duration: .24s;



/***************************************************/
/* MIXINS ******************************************/

@mixin mobile {
	@media (pointer:coarse) {
		@content;
	}
}

@mixin desktop {
	@media (pointer:fine) {
		@content;
	}
}



/****************************************************/
/* STYLES *******************************************/

.c-wp {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right:0;
	top: 0;
	z-index: 900;
	opacity: 1;
	transition: $duration linear;

	display: flex;
	flex-flow: column;
	align-items: center;

	@include mobile {
		justify-content: flex-end;
	}

	@include desktop {
		justify-content: center;
	}
}

.c-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 460px;
	padding: 45px 20px 20px 20px;
	will-change: transform;
	position: relative;

	display:flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: stretch;

	max-height: calc(100% - 40px);
  overflow-y: auto;


	background-color: #fff;
	z-index: 4;

	@include mobile {
		border-radius: $container-radius;
		width: 100%;
	}


	@include desktop() {
		border-radius: 30px;
		padding: 70px 40px 40px 40px;
		width: 100%;
		width: calc(100% - 10px);
	}
}


.modal-header,
.modal-content,
.modal-footer {
	width: 100%;
}

.modal-header + .modal-content,
.modal-footer  {
	margin-top: 40px;
}


.close-chevron {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 333;

	width: 38px;
	font-size: 0;
	line-height: 0;

	border-radius: 300px;
	padding: 10px;

	cursor: pointer;
	transition: .25s ease;

	&>svg {
		width: 100%;
		transition: .25s ease;
		stroke: color.$dark;
	}

	&:hover {
		background-color: color.$gray;
		&>svg {
			stroke: color.$accent;
		}
	}
}

.swipe-dot {
	background-color: #e6e6e6;
	@include mobile() {

		border-radius: 10px;
		height: 6px;
		width: 60px;
		z-index: 3;
		position: absolute;
		left: 0;
		right: 0;
		top: 14px;
		margin: 0 auto;
		pointer-events: none;
	}
}


.bg-button {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	color: transparent;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none !important;
	border: none;
	background-color: $bg;
	transition: $duration linear;
	backdrop-filter: blur(2px);
	cursor: pointer;
}

/****************************************************/
/* ANIMATIONS ***************************************/

@keyframes fadein {
	0% {
		transform: translateY(-15%);
		opacity: .8;
	}
	0% {
		transform: translateY(0%);
		opacity: 1;
	}
}


.button-enter-active,
.button-leave-active {
	transition: opacity $duration ease;
}

.button-enter-from,
.button-leave-to {
	opacity: 0;
}

.container-enter-active,
.container-leave-active {
	transition: $duration ease;
	opacity: 1;
	transform: translateY(0%);
}

.container-enter-from {
	opacity: .4;
	transform: translateY(15%);
}

.container-leave-to {
	opacity: 0;
	transform: translateY(5%);
}

.wp-leave-to {
	opacity: .4;
}
